body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-image: url('fondo-béisbol.jpg');
    background-size: cover;
    color: #333;
}

header {
    background-color: #007BFF;
    text-align: center;
    padding: 20px;
    color: white;
}

h1 {
    margin: 0;
}

h2 {
    color: #333;
    text-align: center;
}

.personajes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.personaje {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    width: 150px;
}

.button {
    display: inline-block;
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.comentarios {
    background-color: #f4f4f4;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007BFF;
    text-align: center;
    padding: 20px;
    color: white;
}

h1 {
    margin: 0;
}

h2 {
    color: #333;
    text-align: center;
}
body {
    background-color: #eaeaea;
}

.personajes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.personaje {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    width: 150px;
}

body {
    background-image: url('fondo-béisbol.jpg');
    background-size: cover;
    color: #333;
}
.button {
    display: inline-block;
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}
